* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
    background: #111827;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #2f2f2f;
    /* background: #061029; */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #5d5d5d;
  }
  


#git {
    margin-right: 30px;
    color: white;
  }
  #twitter {
    margin-right: 30px;
    color: #0077b5;
  }
  #insta {
    margin-right: 30px;
    color:  #c13584;
  }
  #linkedin {
    color: #0077b5;
  }
  
  #git:hover {
    transform: scale(1.5);
  }
  #twitter:hover {
    transform: scale(1.5);
  }
  #insta:hover {
    transform: scale(1.5);
  }
  #linkedin:hover {
    transform: scale(1.5);
  }

  #x{
    width: 200px;
    height: 40px;
    color:red;
    background-color: transparent;
    margin:100px;
    border: 2px solid white;
    outline: none;
  }
  #y{
    width: 200px;
    height: 40px;
    color:red;
    background-color: transparent;
    margin:100px;
    border: 2px solid white;
    outline: none;
  }

  .button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
  
    border: 3px solid;
    padding: 0.55em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
      5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }